body {
    background-color: #343a40;
    font-size: 0.9vw;
    overflow:hidden;
}

#bootstrap-overrides-sidebar{
    background-color: #2E2E2E;  
    height: 100vh;   
    width: 15%;
    padding-top: 5px;
    padding-left: 10px;
    position: fixed;
}

#bootstrap-overrides-navitem-extra-padding{
    padding-bottom: 20px;
    
}

.color-nav{
    color: white;
    font-weight: 400;
    font-size: 1vw;
}

.color-nav-header{
    color: white;
    padding-left: 7.5%;
    font-weight: 200;
    font-size: 1vw;
}
#bootstrap-overrides-navbar{
    width: 100%;
    
}
#bootstrap-overrides-navbar-navitems{
    
}

#navbar-ul{
    list-style: none;    
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-page{
    margin-left: 15%;
    width: 70.1%;
    position: relative;

}

#bannerimage{
    background-image: url(http://www.scdn.co/i/_global/open-graph-default.png);
    height: 45%;
    background-color: purple;
    background-position: center;
}

#top-tool{
    height: 3.5%;
    background-color: #2E2E2E;
}

#right-col{
    position: fixed;
    margin-left: 85%;
    height: 100vh;
    background-color: #2E2E2E;
    color: white;
    background-position: center;
    text-align: center;
    padding-top: 100px;
}

.upgrade-btn{
    color: white;
    background-color: #2E2E2E;
    border-width: medium;
    border-color: white;
    font-size: 0.9vw;
    height: 85%;
    margin: 0.3vw;
    margin-left: 70%;   
    padding: 0;
    width: 10%;
}

footer{
    width: 100%;
    background-color: #4E4E4E;
    height: 9%;
}

.suggestion-container{
    margin: 1% 4% 1% 4.7%;
    color: white;
    
}

.suggestion-boxes{
    margin: 0.8%;
}

.suggestion-boxes-description{
    padding-top: 0.5vw;
}


#bootstrap-override-dropdown-button{
    background-color: #2E2E2E;
    border: none;
    margin: 0.1vw;
    height: 85%;
    font-size: 1vw;
    margin-left: 17%;
}

#dropdown-img{
    margin-right: 0.4vw;
}

.scrolled-main{
    overflow: scroll;
    height: 42.5%;
}